TELEGRAM_BOT_TOKEN=replace_with_telegram_bot_token
FUNDLINE_API_KEY=replace_with_a_long_random_agent_api_key
ARC_DEPLOYER_PRIVATE_KEY=replace_with_testnet_deployer_private_key
ARCSCAN_API_BASE=https://testnet.arcscan.app/api/v2
ARCSCAN_EXPLORER_BASE=https://testnet.arcscan.app
ARC_CHAIN_ID=5042002
ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_NETWORK_NAME=Arc Testnet
ARC_USDC_TOKEN_ADDRESS=0x3600000000000000000000000000000000000000
ARC_USDC_DECIMALS=6
ARC_NATIVE_USDC_DECIMALS=18
ARC_PAYMENT_ROUTER_ADDRESS=
